.wrapper {
  display: flex;
  margin-top: 20px;
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.control:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in;
}
.products {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

@media (width < 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .control {
    margin-bottom: 10px;
  }
}
