.wrapper {
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product {
  width: 80%;
  height: 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.closeButton {
  width: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin-left: auto;
}

.product__body {
  display: flex;
}

.product_image {
  width: 100%;
  height: 100%;
}

.product_image img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.title {
  font-size: 1.5rem;
  color: black;
}

.description {
  color: gray;
  font-weight: 500;
  font-size: small;
}

.price {
  font-size: x-large;
  font-weight: bold;
}

.moreButton {
  width: 100px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  margin-left: auto;
}
