.searchBar {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  /* border-radius: 15px; */
}

input {
  width: 100%;
  border: none;
  outline: none;
}

.searchDiv {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  position: absolute;
  border-top: none;
  top: calc(100% + 5px);
  text-align: center;
}
