.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left__side {
  display: flex;
  cursor: pointer;
}
.logo {
  font-weight: 600;
  margin-left: 35px;
}

.newest,
.categories {
  margin-left: 35px;
}

.right__side {
  display: flex;
}

.rightSide__icons {
  margin-left: 15px;
  cursor: pointer;
}

.cart {
  margin-left: 35px;
  cursor: pointer;
}

@media (width <= 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .left__side,
  .right__side {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
